.counter-container {
    grid-column: 1/3;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.counter {
    height:100%;
    width: 50%;
    border:4px solid #F9DBBB;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    gap:10px;
}

.controls {
    display:flex;
    justify-content: center;
    align-items: center;
    height:30%;
    width:50%;
}

.controls button {
    cursor:pointer;
}

#start_stop {
    background: #E9D502;
}

.play {
    background: yellowgreen;
}

#reset {
    background: red;
}

.red {
    color:red
}
