.keeper-container {
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.keeper-container div {
    display:flex;
    justify-content: center;
    align-items: center;
}

#break-label, #session-label {
    font-size:1.5rem;
}

.keeper-controls {
    grid-row:2/3;
    gap:10px;
}

#break-length, #session-length {
    font-size:2rem;
}

.keeper-controls button {
    background: transparent;
    border:0;
    height:30px;
    width:60px;
}

.icon {
    height:100%;
    width:100%;
}

.keeper-controls p {
    font-size: 1.5rem;
}
