.timer-container {
    grid-column: 1/3;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.timer {
    height:100%;
    width: 50%;
    border:4px solid #F9DBBB;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    gap:10px;
}

.controls {
    display:flex;
    justify-content: center;
    align-items: center;
    height:30%;
    width:50%;
    gap:10px;
}

#start_stop, #reset {
    display:flex;
    justify-content: center;
    align-items: center;
    height:1.5rem;
    width:5rem;
    border:2px solid black;
    border-radius:3px;
}

.green {
    background:rgba(81, 211, 81);
}

.yellow {
    background:rgb(255, 213, 0);
}

#reset {
    background: red;
}

.red {
    color:red
}